<ion-header>
  <ion-navbar color="purple">
    <ion-title>
      Users History
    </ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="!ordenando" (click)="ordenando = true">
        Ordenar
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button *ngIf="ordenando" (click)="ordenando = false">
        Listo
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher [enabled]="!ordenando" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar($event)">
    <!--propiedad de las listas-->

    <ion-item-sliding *ngFor="let item of items; let i = index">

      <ion-item (click)="verDetalles(item)">
        <ion-avatar item-left>
          <img [src]="item.imagen">
        </ion-avatar>
        <h2>{{item.nombre}}</h2>
      </ion-item>


      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrarItem(i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>


    </ion-item-sliding>

  </ion-list>
</ion-content>
