page-activities {
    ion-card-header {
        color: #6200ea;
        background-color: #d1c4e9;
        font-weight: bold;
    }
    ion-card-content {
        color: #311b92;
        background-color: #d1c4e9;
    }
    .card-header-md {
        color: #311b92;
    }
}
