<ion-header>

    <ion-navbar color="purple2">
        <ion-title>Activities</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-card>
        <ion-card-header>
            {{items.activities.first}}
        </ion-card-header>
        <ion-card-content>
            {{'Lorem ipsum contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.'}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="items.activities.second" color="success">
        <ion-card-header>
            {{items.activities.second}}
        </ion-card-header>
        <ion-card-content>
            {{'Lorem ipsum contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.'}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="items.activities.third" color="primary">
        <ion-card-header>
            {{items.activities.third}}
        </ion-card-header>
        <ion-card-content>
            {{'Lorem ipsum contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.'}}
        </ion-card-content>
    </ion-card>

</ion-content>
